.bg-container {
  list-style-type: none;
}
.containers {
  display: flex;
  justify-content: space-between;
}
.button-container {
  background-color: transparent;
  border-width: 0px;
  cursor: pointer;
  outline:none;
}
.main-heading{
 font-weight: 500;
  font-size: 22px;
}
.image{
  margin-right: 30px;
}
.para{
  font-size: 20px;
  color: #9aa5b1;
}